
<h4><%= @creature.name %></h4>
<p><%= @creature.description %></p>


<div>
    <%= button_to  "edit", edit_creature_path, method: :get, class:"btn btn-primary btn-sm"%>
    <%= button_to  "delete", @creature, method: :delete, class:"btn btn-primary btn-sm" %>
</div>